# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Carpeta de compilación
/build/

# Archivos intermedios y binarios
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Archivos de CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Archivos de VSCode
.vscode/

# Archivos de sistema (opcional)
.DS_Store
Thumbs.db


# Files for output image
*.png
*.dot